{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/education.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>My Educations</h1>
              <span class="subheading">This is what I have learned.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
		<h3>Formal:</h3>
		<ul>
			<li>Information System, University of Indonesia (2017-now)</li>
			<li>IPA, SMAN 1 Pamekasan (2014-2017)</li>
			<li>SMPN 2 Pamekasan (2011-2014)</li>
			<li>SDIT Al-Irsyad (2006-2011)</li>
			<li>SDI Al-Munawwarah (2005-2006)</li>
			<li>TKIT Al-Uswah (2003-2005)</li>
			<li>Self defense martial arts</li>
		</ul>
		<h3>Informal:</h3>
		<ul>
			<li>Wushu Taolu, Wushu Traditional, UKM Wushu UI (2017-now)</li>
			<li>Self defense martial arts (2017-now)</li>
			<li>English course (Pass with 'A' grade), Kampung English Kediri (2011)</li>
			<li>Ganesha Operation (2010-2017)</li>
			<li>Mathematic course, Generasi Cerdas Nusantara (2009-2013)</li>
			<li>Pencak Silat, Tapak Suci (2005-2012)</li>
		</ul>
{% endblock content %}