{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/form.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Form</h1>
              <span class="subheading">Activity list.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
	<table class="table">
		<thead>
			<th>Activity</th>
			<th>Location</th>
			<th>Start Date</th>
			<th>Start Time</th>
			<th>End Date</th>
			<th>End Time</th>
			<th>Notes</th>
		</thead>
		<form id="form" action="{% url 'clear'%}" method="GET">
			<button class="btn mb-3 btn-default" formaction="{% url 'clear'%}">Clear</button>
		</form>
		<tbody>
			{% for i in data %}
			{% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
			<tr class="warning"> {% else %} <tr class="success">
				{% endif %}
				<td> {{i.activity}} </td>
				<td> {{i.location}} </td>
				<td> {{i.start_date}} </td>
				<td> {{i.start_time}} </td>
				<td> {{i.end_date}} </td>
				<td> {{i.end_time}} </td>
				<td> {{i.notes}} </td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
{% endblock content %}