{% extends "layout/template.html" %}

{% load static %}

{% block header %}
    <header class="masthead" style="background-image: url('{%static 'img/profile.jpg'%}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>My Profile</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock header %}

{% block content %}
        <p>Hi! My name is Akhmad Ramadhan Yamin, you can call me Ary,
			Born at 5 January 1999 in Pamekasan, East Java, Indonesia. Polite, friendly, and like to drink coffee.
			My hobby are do some sports, especially wushu, so I have a healthy body to do everyday activities.</p>
		<h3>Skills:</h3>
		<ul>
			<li>Multilingual : Indonesia, English, Madura</li>
			<li>Programming : Pascal, Python, C++, Java</li>
			<li>Graphic design : Photoshop</li>
			<li>Better at working alone, best at working with team</li>
			<li>Can work under pressure</li>
			<li>Wushu</li>
			<li>Self defense martial arts</li>
		</ul>
{% endblock content %}